body
{
    background-color: black;
    font-family: "Kode Mono", monospace;
    
    
}
header
{
    
    height: 50px;
    display: flex;
    align-items: center;


}
.topButtons
{
    padding-left: 20px;
    
}
.buttons
{
    background-color: transparent;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    font-family: "Kode Mono", monospace;

}
.buttons:hover
{
    background-color: white;
    color: black;
    transition-duration: 200ms;
    text-decoration: underline;
}
.line
{
    width: 100%;
    height: 1px;
    background-color: white;
    margin: 10px 0 ;
}
#about
{
    display: flex;
    gap:20px;
    width:70vw;
    
}


h1
{
    font-weight: Bold;
}
.gameSection
{
    display: flex;
    justify-content: center;
    width:70vw;
}
.whitetext
{
    color: white;
}
.gameinfobox
{
    display: flex;
    gap: 20px;
    
}
.gamebox
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#games
{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
#showreel
{
    display: flex;
    flex-direction: column;
    align-items: center;
}