:root
{
--defaultMargin:20px;
--sectionMargin:20px;

}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body
{
    background-color: black;
    font-family: "Kode Mono", monospace;

    
}
header
{
    margin: 10px 0 10px 10px;
    height: 50px;
    display: flex;
    align-items: center;


}
button
{
    padding: 4px;
}
.topButtons
{
    padding-left: var(--defaultMargin);
    
}
.buttons
{
    background-color: transparent;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    font-family: "Kode Mono", monospace;

}
.buttons:hover
{
    background-color: white;
    color: black;
    transition-duration: 200ms;
    text-decoration: underline;
}
.line
{
    width: 100%;
    height: 1px;
    background-color: white;
    margin: 10px 0 ;
}
#about
{
    display: flex;
    justify-content: center; 
    gap: var(--defaultMargin);
    width: 70vw; 
    margin: var(--sectionMargin) auto; 
}


h1
{
    font-weight: Bold;
}
.whitetext
{
    color: white;
}
.gameinfobox
{
    display: flex;
    gap: var(--defaultMargin);
   
}
.gamebox
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--defaultMargin);
}
#games
{
    display: flex;
    justify-content: space-between;
    gap: var(--defaultMargin);
    margin: var(--sectionMargin) auto;
    width: 70vw;
    
}
#showreel
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--sectionMargin) auto;
}
footer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90px;
    gap: 10px;
}
#showreelTitle
{
    margin: 0 0 20px 0;
}
img
{
    object-fit: cover;
}

.gameSection
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100vw;
    gap: var(--defaultMargin);
}
.controls
{
    text-decoration: underline;
    font-weight: bold;
}

.mobileimage
{
    display: none;
}


@media only screen and (max-width: 600px)
{
    
   #about
   {
    flex-direction: column;
   } 
   #games
   {
    flex-direction: column;
   }
   .gameinfobox
   {
    flex-direction: column;
   }
   iframe
   {
    width: 90%;
   }
   #showreelTitle
   {
    margin: 0;
    text-align: center;
   }
   .mobileimage
   {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100vw;
    gap: var(--defaultMargin);

   }
   .gameSection
   {
    display: none;
   }
}